.comparison-page .progress {
    margin: 50px;
    height: 30px;
}
.comparison-page .progress .progress-bar {
    width: 33.33%;
    background-color: darkslategrey;
}
.comparison-page .progress .final-bar {
    background-color: #007bff;
}
.comparison-page .progress .active-bar {
    background-color: #007bff;
    border-left: 1px solid darkslategrey;
}
.comparison-page .pre-explanation {
    margin-bottom: 30px;
}
.comparison-page .pre-explanation .pre-explanation-main {
    text-align: right;
    font-size: 22px;
    margin: 20px;
}
.comparison-page .pre-explanation .main-introduction-title {
    text-align: center !important;
}
.comparison-page  .pre-explanation-extra {
    text-align: center;
    color: #505050;
    margin: 15px;
}
.comparison-page .images-block .active-image {
    border: 2px solid indianred;
}

.comparison-page .images-block .group-images {
    width: 10%;
    margin-right: 2px;
    cursor: pointer;
}
.comparison-page .images-block:first-child {
    margin-right: 50px;
}
.comparison-page .images-block .group-images img {
    border: 2px solid;
    max-width: 81px;
    cursor: pointer;
}
.comparison-page .images-block .group-name {
    text-align: center;
    font-size: smaller;
    padding: 10px 0;
    background-color: darkgray;
    margin-right: 4px;
    margin-bottom: 0;
}
.comparison-page .images-block .select-probable-button {
    margin-right: 1px;
    font-size: small;
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
}
@media (max-width: 700px) {
    .comparison-page .images-block:first-child {
        margin-right: 23px;
    }
    .comparison-page .images-block .group-image img {
        max-width: 52px;
        cursor: pointer;
    }
}
.comparison-page .explanation-card {
    text-align: center;
    color: #505050;
    padding: 10px;
}
.comparison-page .question-part {
    text-align: center;
}
.comparison-page .question-part ul {
    list-style: none;
    padding-right: 0;
}
.comparison-page .question-part li {
    margin: 50px 10px;
}
.comparison-page .question-phrase {
    border-bottom: 1px solid;
    padding: 15px 5px;
    cursor: pointer;
}
.comparison-page .question-phrase:hover {
    border: 2px solid rgb(9,76,114);
}
.comparison-page .selected-answer {
    border: 2px solid rgb(9,76,114);
}
.comparison-page .question-part .not-answered {
    border: 1px solid red;
    padding: 10px;
}
.comparison-page .comparison-part,
.comparison-page .answer-part,
.comparison-page .initial-result-part {
    text-align: center;
}
.comparison-page .comparison-part .comparison-part-explanation {
    margin-bottom: 20px;
}
.comparison-page .comparison-part .comparison-part-big .btn-group {
    direction: ltr;
}
.comparison-page .comparison-part .comparison-part-mbti,
.comparison-page .comparison-part .comparison-part-disc,
.comparison-page .comparison-part .comparison-part-big {
    padding: 10px;
    background-color: darkgrey;
}
.comparison-page .comparison-part .comparison-part-disc,
.comparison-page .comparison-part .comparison-part-big {
    border-right: 1px solid;
}
.comparison-page .comparison-part .ui-select-container {
    z-index: 120;
    margin: 10px;
    cursor: pointer;
    direction: ltr;
}
.comparison-page .comparison-part .ui-select-container input {
    width: 100% !important;
    cursor: pointer;
}
.comparison-page .comparison-part .ui-select-container .ui-select-choices {
    top: 0 !important;
    z-index: 120;
    background: whitesmoke;
    direction: ltr;
}
.comparison-page .comparison-part .ui-select-container .selectize-input {
    background: white;
    border: 1px solid grey;
}
@media (max-width: 700px) {
    .comparison-page .comparison-part .comparison-part-body {
        margin: 0;
    }
    .comparison-page .comparison-part .comparison-part-mbti,
    .comparison-page .comparison-part .comparison-part-disc {
        margin-top: 10px;
    }
}
.comparison-page .comparison-part a {
    color: snow;
}
.comparison-page .comparison-part a:hover {
    color: #0056b3;
    text-decoration: none;
}
.comparison-page .comparison-part .comparison-part-mbti h5,
.comparison-page .comparison-part .comparison-part-big h5,
.comparison-page .comparison-part .comparison-part-disc h5 {
    background-color: mediumslateblue;
    padding: 10px;
}
.comparison-page .comparison-part .show-result-button {
    text-align: center;
    margin-top: 10px;
}
.comparison-page .answer-part-header {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}
.comparison-page .answer-part-explanation {
    padding: 10px;
}
.comparison-page .result-table {
    margin-top: 50px;
}
.comparison-page .result-table .table-header {
    background-color: darkgrey;
}
.comparison-page .result-table th {
    border-top: none;
}
.comparison-page .result-table .first-cell-header {
    background-color: #ebebeb;
    border-bottom-width: 0;
}
.comparison-page .result-table .result-images {
    width: 10%;
    margin-right: 2px;
}
.comparison-page .result-table .result-images img {
    max-width: 80px;
}
.comparison-page .result-table .result-marker {
    font-size: 20px;
    color: green;
}
.comparison-page .result-table .inactive-result {
    background-color: dimgray;
    pointer-events: none;
    cursor: default;
}
.comparison-page .move-to-groups {
    margin-top: 20px;
    text-align: center;
}