.blog-page .blog-post-container {
    padding: 7px;
    margin-top: 20px;
    border-right: 1px solid;
}
.blog-page .blog-post-container .blog-post-body-divider {
    width: 100%;
    margin: 5px 15px;
    background-color: black;
}
.blog-page .blog-post-container .blog-post-content * {
    float: right;
}