.enneagram-symbol-block {
    text-align: center;
}
.enneagram-symbol-block [class*=flaticon-number] {
    position: relative;
    cursor: pointer;
}
.enneagram-symbol-block [class*=flaticon-number]:before {
    color: #bababa;
}
.all-types-page .enneagram-symbol-block [class*=flaticon-number]:before {
    font-size: 37px;
}
.all-types-page .enneagram-symbol-block [class*=flaticon-number]:before {
    font-size: 37px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-1 {
    top: -451px;
    right: -373px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-2 {
    top: -314px;
    right: -399px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-3 {
    top: -137px;
    right: -318px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-4 {
    top: -19px;
    right: -94px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-5 {
    top: -18px;
    right: 59px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-6 {
    top: -135px;
    right: 283px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-7 {
    top: -314px;
    right: 370px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-8 {
    top: -449px;
    right: 346px;
}
.all-types-page .enneagram-symbol-block .flaticon-number-9 {
    top: -509px;
    right: 243px;
}
.pre-explanation-modal .enneagram-symbol-block .selected-group[class*=flaticon-number]:before {
    color: red !important;
}
.pre-explanation-modal .enneagram-symbol-block .enneagram-image {
    max-height: 100px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-1 {
    top: -111px;
    right: -281px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-2 {
    top: -77px;
    right: -261px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-3 {
    top: -34px;
    right: -214px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-4 {
    top: -6px;
    right: -135px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-5 {
    top: -6px;
    right: -71px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-6 {
    top: -32px;
    right: 9px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-7 {
    top: -77px;
    right: 58px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-8 {
    top: -111px;
    right: 78px;
}
.pre-explanation-modal .enneagram-symbol-block .flaticon-number-9 {
    top: -124px;
    right: 78px;
}
@media (max-width: 700px) {
    .all-types-page .enneagram-symbol-block .flaticon-number-1 {
        top: -451px;
        right: -398px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-2 {
        top: -314px;
        right: -424px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-3 {
        top: -137px;
        right: -343px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-4 {
        top: -19px;
        right: -119px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-5 {
        top: -18px;
        right: 34px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-6 {
        top: -135px;
        right: 258px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-7 {
        top: -314px;
        right: 345px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-8 {
        top: -449px;
        right: 321px;
    }
    .all-types-page .enneagram-symbol-block .flaticon-number-9 {
        top: -509px;
        right: 218px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-1 {
        top: -111px;
        right: -296px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-2 {
        top: -77px;
        right: -276px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-3 {
        top: -34px;
        right: -229px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-4 {
        top: -6px;
        right: -150px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-5 {
        top: -6px;
        right: -86px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-6 {
        top: -32px;
        right: -6px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-7 {
        top: -77px;
        right: 43px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-8 {
        top: -111px;
        right: 63px;
    }
    .pre-explanation-modal .enneagram-symbol-block .flaticon-number-9 {
        top: -124px;
        right: 63px;
    }
}