<div class="pre-explanation-modal">
    <div class="modal-header" style="border-bottom: 1px solid cadetblue;">
        <button class="btn btn-danger btn-text cancel-btn" type="button" ng-click="Func.onCancelClick()">X</button>
        <h5 class="pull-right">آشنایی با گروه‌ها</h5>
        <!--TODO: Ugly header!-->
    </div>
    <div ng-class="{'view-mode': Data.mode === 'none', 'selected-mode': Data.mode === 'selected'}">
        <div class="row">
            <div ng-if="Data.mode === 'selected'" class="col-sm-10 explanation-block">
                بند مقدماتی :دی
            </div>
            <div ng-if="Data.mode === 'none'" class="col-sm-2"></div>
            <div ng-class="{'col-sm-8': Data.mode === 'none', 'col-sm-2': Data.mode === 'selected'}">
                <enneagram-symbol api="Controller.symbolDirective"></enneagram-symbol>
            </div>
            <div ng-if="Data.mode === 'none'" class="col-sm-2"></div>
        </div>
        <div class="explanation-block">
            <div>توضیحات اضافه</div>
            <div>توضیحات اضافه‌تر!</div>
            <div>توضیحات اضافه‌تر‌تر!</div>
        </div>
    </div>
</div>