<div class="pre-explanation-modal">
    <div class="modal-header">
        <h5>آشنایی با گروه‌ها</h5>
        <button class="btn btn-danger btn-text cancel-btn" type="button" ng-click="Func.onCancelClick()">X</button>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3 col-sm-4 symbol-block">
                <div>
                    <span ng-repeat="group in Data.groups" ng-if="group.value<4" class="group-btn"
                          ng-click="Func.onGroupClick(group)"
                          ng-class="{'active-btn': group.active}">{{group.value}}</span>
                    <br>
                    <span ng-repeat="group in Data.groups" ng-if="group.value>3 && group.value<7"
                          class="group-btn"
                          ng-click="Func.onGroupClick(group)"
                          ng-class="{'active-btn': group.active}">{{group.value}}</span>
                    <br>
                    <span ng-repeat="group in Data.groups" ng-if="group.value>6" class="group-btn"
                          ng-click="Func.onGroupClick(group)"
                          ng-class="{'active-btn': group.active}">{{group.value}}</span>
                    <br>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 explanation-block">
                <div>توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه
                    توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه توضیحات اضافه
                    توضیحات اضافه
                </div>
            </div>
        </div>
    </div>
</div>