<div class="row home">
    <div class="col-md-12 col-sm-12 header">
        <div class="row">
            <div class="col-md-2 col-sm-3 link" ui-sref="home">
                <span class="title link">شخصیت‌شناس</span>
            </div>
            <div class="col-md-2 header-bar-start">بازگشت به:</div>
            <div class="col-md-1 header-progress-bar header-bar-one" ui-sref="home"
                 ng-if="('home' | includedByState)" ng-click="Data.mode = 'initial'">صفحه‌ی اول
            </div>
            <div class="col-md-1 header-progress-bar header-bar-two" ui-sref="home.library"
                 ng-if="('home.library' | includedByState)">دانشنامه
            </div>
            <div class="col-md-1 header-progress-bar header-bar-two" ui-sref="home.detection"
                 ng-if="('home.detection' | includedByState)">شناسایی
            </div>
            <div class="col-md-1 header-progress-bar header-bar-three" ui-sref="home.library.basics"
                 ng-if="'home.library.basics' | includedByState">مبانی
            </div>
            <div class="col-md-1 header-progress-bar header-bar-three" ui-sref="home.library.personality"
                 ng-if="'home.library.personality' | includedByState">شخصیت
            </div>
            <div class="col-md-1 header-progress-bar header-bar-three" ui-sref="home.library.systems"
                 ng-if="('home.library.systems' | includedByState)">روش‌ها
            </div>
            <div class="col-md-1 header-progress-bar header-bar-three" ui-sref="home.library.types"
                 ng-if="('home.library.typeTpl' | includedByState) || ('home.library.types' | includedByState)">گروه‌ها
            </div>
            <div class="col-md-1 header-progress-bar header-bar-three" ui-sref="home.detection.exams"
                 ng-if="('home.detection.exams' | includedByState)">آزمون‌ها
            </div>
            <div class="col-md-1 header-progress-bar header-bar-three" ui-sref="home.detection.introduction"
                 ng-if="'home.detection.introduction' | includedByState">برآورد
            </div>
            <div class="col-md-1 header-progress-bar header-bar-four" ui-sref="home.library.systems.big"
                 ng-if="('home.library.systems.big' | includedByState)">
                Big 5
            </div>
            <div class="col-md-1 header-progress-bar header-bar-four" ui-sref="home.library.systems.disc"
                 ng-if="('home.library.systems.disc' | includedByState)">
                DISC
            </div>
            <div class="col-md-1 header-progress-bar header-bar-four" ui-sref="home.library.systems.enneagram"
                 ng-if="('home.library.systems.enneagram' | includedByState)">
                Enneagram
            </div>
            <div class="col-md-1 header-progress-bar header-bar-four" ui-sref="home.library.systems.mbti"
                 ng-if="('home.library.systems.mbti' | includedByState)">
                MBTI
            </div>
            <div ng-repeat="group in Data.groups" class="col-md-1 header-progress-bar header-bar-four"
                 ui-sref="home.library.typeTpl.{{group.state}}"
                 ng-if="('home.library.typeTpl.' + group.state) | includedByState">{{group.title}}
            </div>
            <div class="col-md-1 header-progress-bar header-bar-four" ui-sref="home.detection.exams.enterExamResults"
                 ng-if="('home.detection.exams.enterExamResults' | includedByState)">
                ورود نتایج
            </div>
            <div class="col-md-1 header-progress-bar header-bar-five"
                 ui-sref="home.detection.exams.enterExamResults.comparison"
                 ng-if="('home.detection.exams.enterExamResults.comparison' | includedByState)">
                تجمیع
            </div>
            <!--TODO: Add states && nodes && sideMenuLinks for each exam.-->
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="body row">
            <div class="col-sm-2">
                <div id="home-navigation-bar">
                    <ul>
                        <!--TODO: Update interpretation Page.-->
                        <li ui-sref="home.library"
                            ng-class="{'li-selected': ('home.library' | includedByState) && !('home.library.types' | includedByState)}">
                            دانشنامه
                        </li>
                        <li ui-sref="home.detection.introduction"
                            ng-class="{'li-selected': ('home.detection.introduction' | includedByState)}">
                            برآورد انیاگرامی
                        </li>
                        <li ui-sref="home.detection.exams" uib-dropdown dropdown-append-to-body
                            is-open="status.isopen" ng-mouseenter="status.isopen = true"
                            ng-class="{'li-selected': ('home.detection.exams' | includedByState) && !('home.detection.exams.enterExamResults' | includedByState)}">
                                <span uib-dropdown-toggle class="dropdown-title">آزمون
                                    <span class="caret"></span>
                                </span>
                            <ul ng-mouseleave="status.isopen = false" class="dropdown-menu" uib-dropdown-menu
                                role="menu" aria-labelledby="btn-append-to-body">
                                <li ui-sref="home.library.personality">شخصیت</li>
                                <li ui-sref="home.library.systems">روش‌ها</li>
                                <li ui-sref="home.library.basics">مبانی انیاگرام</li>
                                <li ui-sref="home.library.types">گروه‌ها</li>
                            </ul>
                        </li>
                        <li ui-sref="home.detection.exams.enterExamResults"
                            ng-class="{'li-selected': ('home.detection.exams.enterExamResults' | includedByState) && !('home.detection.exams.enterExamResults.comparison' | includedByState)}">
                            ورود نتایج
                        </li>
                        <li ui-sref="home.detection.exams.enterExamResults.comparison"
                            ng-class="{'li-selected': (('home.detection.exams.enterExamResults.comparison' | includedByState)), 'unactive-li': !Data.comparisonAvailable}">
                            تجمیع مقایسه‌ای
                        </li>
                        <li ui-sref="home.library.types"
                            ng-class="{'li-selected': (('home.library.types' | includedByState) || ('home.library.typeTpl' | includedByState)), 'unactive-li': !Data.comparisonAvailable}">
                            تفسیر
                        </li>
                        <li ui-sref="home.library.types"
                            ng-class="{'li-selected': (('home.library.types' | includedByState) || ('home.library.typeTpl' | includedByState)), 'unactive-li': !Data.comparisonAvailable}">
                            توصیه‌ی بهبود
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="card" ui-view>
                    <div class="initial-card" ng-if="Data.mode === 'initial'">
                        <h2 class="card-header">شخصیت‌شناس</h2>
                        <div class="card-description">
                            این سامانه با هدف بررسی شخصیت افراد از دیدگاه چهار روش شناخته‌شده‌ی موجود، مقایسه‌ی
                            نتایج حاصل و ارائه‌ی توصیه به منظور رشد فردی طراحی شده. در صورت تمایل برای شرکت در
                            این رویه گزینه‌ی شناسایی را انتخاب کنید.
                        </div>
                        <div ng-click="Data.mode = 'personality'"
                             class="card-link card-link-action btn btn-info card-link-full">
                            شناسایی
                        </div>
                    </div>
                    <div class="if-know-about-personality-card" ng-if="Data.mode === 'personality'">
                        <h2 class="card-header">آیا می‌دانید شخصیت چیست؟</h2>
                        <div class="card-description">
                            آیا با مفهوم شخصیت آشنایی دارید؟ چنان‌چه تصویر روشنی از مفهوم شخصیت در ذهن ندارید و
                            می‌خواهید
                            بیشتر با این مفهوم آشنا شوید، گزینه‌ی <b>خیر</b> و در غیر این صورت گزینه‌ی <b>بله</b> را
                            انتخاب کنید.
                        </div>
                        <div ng-click="Data.mode = 'systems'"
                             class="card-link card-link-yes btn btn-success card-link-half-first">بله
                        </div>
                        <div ui-sref="home.library.personality" ng-click="Data.mode = 'initial'"
                             class="card-link card-link-no btn btn-danger card-link-half-second">خیر
                        </div>
                    </div>
                    <div class="if-know-about-personality-systems-card" ng-if="Data.mode === 'systems'">
                        <h2 class="card-header">با روش‌های مختلف شخصیت‌شناسی آشنایی دارید؟</h2>
                        <div class="card-description">
                            آیا با روش‌های Big 5، Myers-Briggs، DISC و Enneagram آشنایی دارید؟ چنان‌چه شناختی از
                            هیچ‌کدام از این آزمون‌ها ندارید و می‌خواهید با آن‌ها بیشتر آشنا شوید، گزینه‌ی <b>خیر</b> و
                            در غیر این صورت گزینه‌ی <b>بله</b> را انتخاب کنید.
                        </div>
                        <div ui-sref="home.detection" ng-click="Data.mode = 'initial'"
                             class="card-link card-link-yes btn btn-success card-link-half-first">بله
                        </div>
                        <div ui-sref="home.library.systems" ng-click="Data.mode = 'initial'"
                             class="card-link card-link-no btn btn-danger card-link-half-second">خیر
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-right-3">
                    <p class="footer-description">اگر راجع به انیاگرام یا این سامانه سؤالی دارید، می‌توانید از طریق
                        ایمیل
                        زیر با طراح سامانه در ارتباط باشید.
                        <br>
                        mohammadhesam.berjisian@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>