<div class="row home">
    <div class="col-md-12 col-sm-12 header">
        <div class="row image-header">
            <div class="col-md-2 col-sm-3 link" ui-sref="home">
                <span class="title link">شخصیت‌شناس</span>
            </div>
            <div class="col-md-2 header-bar-start" ng-if="!('home' | isState)">بازگشت به:</div>
            <div class="col-md-1 header-progress-bar header-bar-one" ui-sref="home"
                 ng-if="('home' | includedByState) && !('home' | isState)">صفحه‌ی اول
            </div>
            <div class="col-md-1 header-progress-bar header-bar-two" ui-sref="home.library"
                 ng-if="('home.library' | includedByState) && !('home.library' | isState)">کتابخانه
            </div>
            <div class="col-md-1 header-progress-bar header-bar-two" ui-sref="home.detection"
                 ng-if="('home.detection' | includedByState) && !('home.detection' | isState)">آزمون
            </div>
            <div class="col-md-1 header-progress-bar header-bar-two" ui-sref="home.comparison"
                 ng-if="('home.comparison' | includedByState) && !('home.comparison' | isState)">مقایسه
            </div>
            <div class="col-md-1 header-progress-bar header-bar-three" ui-sref="home.library.types"
                 ng-if="'home.library.typeTpl' | includedByState">گروه‌ها
            </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-12 col-md-offset-right-1">
        <div class="body row">
            <div class="col-sm-4">
                <div id="home-navigation-bar">
                    <ul>
                        <li ui-sref="home.library.personality"
                            ng-class="{'li-selected': ('home.library.personality' | isState)}">شخصیت چیست؟
                        </li>
                        <li ui-sref="home.library.basics" ng-class="{'li-selected': ('home.library.basics' | isState)}">
                            معرفی
                        </li>
                        <li ui-sref="home.library.types" ng-class="{'li-selected': ('home.library.types' | isState)}">
                            گروه‌ها
                        </li>
                        <li ui-sref="home.detection" ng-class="{'li-selected': ('home.detection' | isState)}">آزمون</li>
                        <li ui-sref="home.comparison" ng-class="{'li-selected': ('home.comparison' | isState)}">مقایسه</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-8" ui-view>
                <div class="row">
                    <div class="col-md-12 col-sm-12 recognition-card">
                        <div class="card">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 card-data">
                                        <h2 class="card-header">مسیر آرامش</h2>
                                        <div class="card-description">
                                            انیاگرام با شناسایی دقیق ارزش بنیادین افراد و چارچوب رفتاری آن‌ها کمک می‌کند
                                            تا هرکس به نقاط ضعف خود پی ببرد و مسیر شادکامی خود را پیدا کند. اگر دوست
                                            دارید خودتان را بهتر بشناسید، بی‌معطلی در آزمون کوتاه ما شرکت کنید.
                                        </div>
                                        <div ui-sref="home.detection" class="card-link">آزمون</div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 home-card-img">
                                        <img src="/app/assets/images/what-is-it.png" alt="تعیین شخصیت">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-right-3 call-me">
                    <p class="footer-description">اگر راجع به انیاگرام یا این سامانه سؤالی دارید، می‌توانید از طریق
                        ایمیل
                        زیر با طراح سامانه در ارتباط باشید.
                        <br>
                        mohammadhesam.berjisian@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>