.detection-page .pre-explanation {
    text-align: center;
}
.detection-page .pre-explanation .pre-explanation-main {
    font-size: 22px;
    margin: 15px;
}
.detection-page .pre-explanation .pre-explanation-extra {
    color: #505050;
    margin: 15px;
}
.pre-explanation-modal {
    background-color: #d9f2f1;
}
.pre-explanation-modal .explanation-block {
    text-align: right;
}
.pre-explanation-modal .view-mode {
    text-align: center;
    padding: 15px;
}
.pre-explanation-modal .view-mode h5 {
    padding-bottom: 10px;
}
.detection-page .group-btn {
    border: 1px solid lightsteelblue;
    padding: 5px;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: x-large;
    background-color: lightsteelblue;
    margin: 10px;
    cursor: pointer;
}
.detection-page .active-btn {
    border: 1px solid indianred;
    background-color: indianred;
}
.detection-page .question-part {
    text-align: center;
}
.detection-page .question-part ul {
    list-style: none;
    padding-right: 0;
}
.detection-page .question-part li {
    margin: 20px;
}
.detection-page .question-part .answer-emoticons {
    padding: 5px;
}
.detection-page .question-part .answer-emoticons .flaticon-smile-1:before,
.detection-page .question-part .answer-emoticons .flaticon-pain:before {
    font-size: 50px;
    cursor: pointer;
}
.detection-page .question-part .answer-emoticons .flaticon-smile:before,
.detection-page .question-part .answer-emoticons .flaticon-sad:before {
    font-size: 40px;
    cursor: pointer;
}
.detection-page .question-part .answer-emoticons .flaticon-meh:before {
    font-size: 30px;
    color: lightslategrey;
    cursor: pointer;
}
.detection-page .question-part .answer-emoticons .flaticon-smile-1:before {
    color: green;
}
.detection-page .question-part .answer-emoticons .flaticon-pain:before {
    color: red;
}
.detection-page .question-part .answer-emoticons .flaticon-smile:before {
    color: limegreen;
}
.detection-page .question-part .answer-emoticons .flaticon-sad:before {
    color: lightcoral;
}
.detection-page .question-part .answer-emoticons .selected-answer:before {
    border: 3px solid;
    padding: 5px;
    border-radius: 50%;
}
.detection-page .answer-part {
    text-align: center;
}
.detection-page .answer-part .answer-part-header {
    padding: 10px;
    margin: 20px;
    background: palevioletred;
}
.detection-page .answer-part .answer-part-probable,
.detection-page .answer-part .answer-part-preferred,
.detection-page .answer-part .answer-part-result,
.detection-page .answer-part .answer-part-mbti,
.detection-page .answer-part .answer-part-disc,
.detection-page .answer-part .answer-part-conclusion {
    padding: 10px;
}
.detection-page .answer-part .answer-part-probable {
    background-color: cornflowerblue;
}
.detection-page .answer-part .answer-part-preferred {
    background-color: lightskyblue;
}
.detection-page .answer-part .answer-part-result {
    background-color: lightblue;
}
.detection-page .answer-part .answer-part-mbti {
    background-color: darkseagreen;
}
.detection-page .answer-part .answer-part-disc {
    background-color: mediumseagreen;
}
.detection-page .answer-part .answer-part-conclusion {
    background-color: indianred;
}
.detection-page .answer-part .ui-select-container {
    z-index: 120;
    margin: 10px;
    cursor: pointer;
}
.detection-page .answer-part .ui-select-container input {
    width: 100% !important;
    cursor: pointer;
}
.detection-page .answer-part .ui-select-container .ui-select-choices {
    top: 0 !important;
    z-index: 120;
    width: 50%;
    background: wheat;
}
.detection-page .answer-part .ui-select-container .selectize-input {
    background: white;
    border: 1px solid grey;
}
.detection-page .answer-part a {
    color: aliceblue;
}
.detection-page .answer-part a:hover {
    color: #0056b3;
    text-decoration: none;
}