<div class="detection-page">
    <div class="row pre-explanation">
        <div class="col-md-6 col-sm-12 col-md-offset-right-3">
            <div ng-if="Data.mode === 'none'">
                <div class="pre-explanation-main">
                    قبل از این که بریم سراغ سؤال‌ها، دوست داری یک نگاه به گروه‌های مختلف بندازی؟
                </div>
                <div class="pre-explanation-extra">
                    توضیحات اضافه!
                </div>
                <button type="button" class="btn btn-success" ng-click="Func.onOpenExplanationClick()">چرا که نه!
                </button>
                <button type="button" class="btn btn-danger" ng-click="Func.onCancelExplanationClick()">باشه برای بعد
                </button>
            </div>
            <div ng-if="Data.mode === 'selectProbableGroups'" class="row">
                <div class="col-sm-6">
                    <div class="pre-explanation-main">
                        فکر میکنی توی کدوم یکی از گروه‌ها باشی؟
                    </div>
                    <div>
                    <span ng-repeat="group in Data.tempProbableGroups" ng-if="group.value<4" class="group-btn"
                          ng-click="Func.onGroupClick('probable', group.value)"
                          ng-class="{'active-btn': group.active}">{{group.value}}</span>
                        <br>
                        <span ng-repeat="group in Data.tempProbableGroups" ng-if="group.value>3 && group.value<7"
                              class="group-btn"
                              ng-click="Func.onGroupClick('probable', group.value)"
                              ng-class="{'active-btn': group.active}">{{group.value}}</span>
                        <br>
                        <span ng-repeat="group in Data.tempProbableGroups" ng-if="group.value>6" class="group-btn"
                              ng-click="Func.onGroupClick('probable', group.value)"
                              ng-class="{'active-btn': group.active}">{{group.value}}</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="pre-explanation-main">
                        دوست داشتی توی کدوم گروه باشی؟
                    </div>
                    <div>
                    <span ng-repeat="group in Data.tempPreferredGroups" ng-if="group.value<4" class="group-btn"
                          ng-click="Func.onGroupClick('preferred', group.value)"
                          ng-class="{'active-btn': group.active}">{{group.value}}</span>
                        <br>
                        <span ng-repeat="group in Data.tempPreferredGroups" ng-if="group.value>3 && group.value<7"
                              class="group-btn"
                              ng-click="Func.onGroupClick('preferred', group.value)"
                              ng-class="{'active-btn': group.active}">{{group.value}}</span>
                        <br>
                        <span ng-repeat="group in Data.tempPreferredGroups" ng-if="group.value>6" class="group-btn"
                              ng-click="Func.onGroupClick('preferred', group.value)"
                              ng-class="{'active-btn': group.active}">{{group.value}}</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success" ng-click="Func.onCancelExplanationClick()">تأیید
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="Data.mode != 'showAnswer'">
        <div class="col-md-6 col-sm-12 col-md-offset-right-3">
            <div class="question-part">
                <ul>
                    <li ng-repeat="question in Data.currentQuestions" id="question-{{question.num}}"
                        ng-class="{'not-answered': Data.goingNextPage && (question.answer === 0)}">
                        {{question.value}}
                        <div class="answer-emoticons">
                            <i class="flaticon-pain" ng-click="Func.onAnswerSelect(1, question.num)"
                               ng-class="{'selected-answer': question.answer == 1}"></i>
                            <i class="flaticon-sad" ng-click="Func.onAnswerSelect(2, question.num)"
                               ng-class="{'selected-answer': question.answer == 2}"></i>
                            <i class="flaticon-meh" ng-click="Func.onAnswerSelect(3, question.num)"
                               ng-class="{'selected-answer': question.answer == 3}"></i>
                            <i class="flaticon-smile" ng-click="Func.onAnswerSelect(4, question.num)"
                               ng-class="{'selected-answer': question.answer == 4}"></i>
                            <i class="flaticon-smile-1" ng-click="Func.onAnswerSelect(5, question.num)"
                               ng-class="{'selected-answer': question.answer == 5}"></i>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary" ng-show="!Data.lastPage"
                        ng-click="Func.prepareCurrentQuestions()">بعد
                </button>
                <button type="button" class="btn btn-success" ng-show="Data.lastPage" ng-click="Func.calculateTestResult()">
                    اتمام
                </button>
            </div>
        </div>
    </div>
    <div class="answer-part row" ng-if="Data.mode == 'showAnswer'">
        <div class="col-sm-12 answer-part-header">
            <h2>جمع‌بندی</h2>
        </div>
        <div class="col-md-10 col-sm-12 col-md-offset-right-1 answer-part-body row">
            <div class="col-md-12 col-sm-12 answer-part-explanation">توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
            </div>
            <div class="col-md-5 col-sm-12 answer-part-mbti">
                <h5>در قیاس با MBTI</h5>
                <span>اگر میدونی توی کدوم یکی از گروه‌های ۱۶گانه MBTI قرار داری، میتونی اون رو هم مشخص کنی تا با نتیجه انیاگرام مقایسه بشه.</span>
                <ui-select ng-model="Data.approvedMbtiGroup" theme="selectize">
                    <ui-select-match placeholder="گروه‌های MBTI">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="group in Data.mbtiGroups">
                        {{group}}
                    </ui-select-choices>
                </ui-select>
                <span>اگر گروه MBTI خودت رو نمیدونی، میتونی از سایت زیر پیداش کنی!</span>
                <br><br>
                <a href="https://www.16personalities.com/" target="_blank">آزمون MBTI</a>
            </div>
            <div class="col-md-5 col-sm-12 col-md-offset-right-2 answer-part-disc">
                <h5>در قیاس با DISC</h5>
                <span>اگر میدونی گروه غالبت توی DISC چیه، میتونی اون رو هم مشخص کنی تا با نتیجه انیاگرام مقایسه بشه.</span>
                <ui-select ng-model="Data.approvedDiscGroup" theme="selectize">
                    <ui-select-match placeholder="گروه‌های DISC">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="group in Data.discGroups">
                        {{group}}
                    </ui-select-choices>
                </ui-select>
                <span>اگر گروه DISC خودت رو نمیدونی، میتونی از سایت زیر پیداش کنی!</span>
                <br><br>
                <a href="https://discpersonalitytesting.com/free-disc-test/" target="_blank">آزمون DISC</a>
            </div>
            <!--TODO: Add results table.-->
        </div>
    </div>
</div>