<div class="detection-page">
    <div class="row pre-explanation" ng-if="Data.mode === 'none'">
        <div class="col-md-10 col-sm-12 col-md-offset-right-1">
            <div class="row images-block">
                <div class="group-images" ng-repeat="group in Data.introductionGroups"
                     ng-click="Func.onIntroductionSelect(group)" ng-class="{'active-image': group.active}">
                    <img src="/app/assets/images/{{group.value}}.png" alt="تعیین شخصیت">
                </div>
            </div>
            <div class="pre-explanation-main"
                 ng-class="{'main-introduction-title': (Data.selectedGroupValue == 0)}">
                {{Data.selectedTitle}}
                <button class="pull-left btn probable-group"
                        ng-class="{'selected-probable-group': Data.tempProbableGroups[Data.selectedGroupValue - 1].active}"
                        ng-click="Func.onSelectProbableGroup(Data.selectedGroupValue)"
                        ng-if="Data.selectedGroupValue !== 0">{{Data.tempProbableGroups[Data.selectedGroupValue -
                    1].active ? Data.selectedMessage[1] : Data.selectedMessage[0]}}
                </button>
            </div>
            <div class="pre-explanation-extra">
                {{Data.selectedIntroduction}}
            </div>
            <button type="button" class="btn btn-success" ng-click="Func.showQuestions()">
                پیش به سوی آزمون
            </button>
        </div>
    </div>
    <div class="row" ng-if="Data.mode === 'showQuestions'">
        <div class="col-md-10 col-sm-12 col-md-offset-right-1">
            <div class="pre-explanation-extra">
                آزمون ذیل ترجمه‌ای از آزمون RHTEI نسخه‌ی ۲.۵ است که توسط دان ریچارد ریسو و راس هادسون طراحی شده. این
                آزمون
                شامل ۳۲ پرسش ۲ گزینه‌ای است. در هرپرسش گزینه‌ای را انتخاب کنید که با رفتارهای شما بیشتر مطابقت دارد.
            </div>
            <div class="row">
                <div class="col-sm-4 explanation-card" style="background-color: #6cbbb3">به تمام سؤالات پاسخ دهید.</div>
                <div class="col-sm-4 explanation-card" style="background-color: #6588a8">صادقانه جواب دهید.</div>
                <div class="col-sm-4 explanation-card" style="background-color: #a0dee5">آزمون کمتر از ده دقیقه زمان
                    لازم دارد.
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-md-offset-right-3 row">
            <div class="question-part">
                <ul>
                    <li ng-repeat="question in Data.questions" class="row" id="question-{{question.num}}"
                        ng-class="{'not-answered': Data.showAnswer && !question.answer}">
                        <div class="col-sm-6 question-phrase"
                             ng-class="{'selected-answer': question.answer == question.first.value}"
                             ng-click="Func.onAnswerSelect(question, question.first.value)">
                            {{question.first.phrase}}
                        </div>
                        <div class="col-sm-6 question-phrase"
                             ng-class="{'selected-answer': question.answer == question.second.value}"
                             ng-click="Func.onAnswerSelect(question, question.second.value)">
                            {{question.second.phrase}}
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn btn-success" ng-click="Func.toComparison()">
                    اتمام
                </button>
            </div>
        </div>
    </div>
    <div class="comparison-part row" ng-if="Data.mode == 'comparison'">
        <div class="col-md-10 col-sm-12 col-md-offset-right-1 comparison-part-body row">
            <div class="col-md-12 col-sm-12 comparison-part-explanation">
                شاید اطلاع داشته باشید که سیستم‌های شخصیت‌شناسی به‌نامی نظیر MBTI، DISC و یا Big 5 موجودند. بنابر
                بررسی‌های انجام‌شده روی نتایج آزمون‌های افراد مختلف در این سیستم‌ها، بین نتایج این سه سیستم و انیاگرام
                هم‌بستگی وجود دارد. بنابراین اگر کنجکاوید که بدانید بین شخصیت شما در هریک از این سه سیستم و شخصیت شما در
                انیاگرام چقدر تشابه وجود دارد، می‌توانید اطلاعات نتایج خود در این آزمون‌ها را هم وارد کنید تا به
                گروه‌های انیاگرام نظیر شوند.
                <br><br>
                اگر هم گروه خود را در هرکدام از این سیستم‌ها نمی‌دانید، مشکلی نیست. نتایج
                آزمون بدون این موارد هم مشخص هستند، ولی اگر تمایل داشتید که با تیپ شخصیتی خود در هریک از این سیستم‌ها
                بیشتر آشنا بشوید، می‌توانید به سایت‌هایی که برای آن‌ها معرفی شده، مراجعه کنید.
            </div>
            <div class="col-md-4 col-sm-12 comparison-part-mbti">
                <h5>در قیاس با MBTI</h5>
                <span>اگر گروه غالب خود در MBTI را می‌دانید، می‌توانید آن را هم مشخص کنید تا با نتیجه‌ی انیاگرام مقایسه بشود.</span>
                <br><br>
                <ui-select ng-model="Data.approvedMbtiGroup" theme="selectize">
                    <ui-select-match placeholder="گروه‌های MBTI">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="group in Data.mbtiGroups">
                        {{group}}
                    </ui-select-choices>
                </ui-select>
                <br>
                <span>اگر نه، به سایت زیر سر بزنید.</span>
                <br>
                <a href="https://www.16personalities.com/free-personality-test" target="_blank">آزمون MBTI</a>
            </div>
            <div class="col-md-4 col-sm-12 comparison-part-big">
                <h5>در قیاس با Big 5</h5>
                <span>اگر نتایج آزمون Big 5 خود را می‌دانید، می‌توانید آن‌ها را هم مشخص کنید تا با نتیجه‌ی انیاگرام مقایسه بشود.</span>
                <br><br>
                <div>
                    <span>گشودگی به تجربه(Openness): </span>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="Data.big.openness" uib-btn-radio="'high'">زیاد</label>
                        <label class="btn btn-primary" ng-model="Data.big.openness"
                               uib-btn-radio="'middle'">متوسط</label>
                        <label class="btn btn-primary" ng-model="Data.big.openness" uib-btn-radio="'low'">کم</label>
                    </div>
                </div>
                <div>
                    <span>مسئولیت‌پذیری(Conscientiousness): </span>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="Data.big.conscientiousness"
                               uib-btn-radio="'high'">زیاد</label>
                        <label class="btn btn-primary" ng-model="Data.big.conscientiousness" uib-btn-radio="'middle'">متوسط</label>
                        <label class="btn btn-primary" ng-model="Data.big.conscientiousness"
                               uib-btn-radio="'low'">کم</label>
                    </div>
                </div>
                <div>
                    <span>برون‌گرایی(Extraversion): </span>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="Data.big.extraversion"
                               uib-btn-radio="'high'">زیاد</label>
                        <label class="btn btn-primary" ng-model="Data.big.extraversion"
                               uib-btn-radio="'middle'">متوسط</label>
                        <label class="btn btn-primary" ng-model="Data.big.extraversion" uib-btn-radio="'low'">کم</label>
                    </div>
                </div>
                <div>
                    <span>توافق‌گرایی(Agreeableness): </span>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="Data.big.agreeableness"
                               uib-btn-radio="'high'">زیاد</label>
                        <label class="btn btn-primary" ng-model="Data.big.agreeableness"
                               uib-btn-radio="'middle'">متوسط</label>
                        <label class="btn btn-primary" ng-model="Data.big.agreeableness"
                               uib-btn-radio="'low'">کم</label>
                    </div>
                </div>
                <div>
                    <span>روان‌رنجور‌خویی(Neuroticism): </span>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="Data.big.neuroticism"
                               uib-btn-radio="'high'">زیاد</label>
                        <label class="btn btn-primary" ng-model="Data.big.neuroticism"
                               uib-btn-radio="'middle'">متوسط</label>
                        <label class="btn btn-primary" ng-model="Data.big.neuroticism" uib-btn-radio="'low'">کم</label>
                    </div>
                </div>
                <div>
                    <br>
                    <span>اگر نه، به سایت زیر سر بزنید.</span>
                    <br>
                    <a href="https://www.truity.com/test/big-five-personality-test" target="_blank">آزمون Big 5</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 comparison-part-disc">
                <h5>در قیاس با DISC</h5>
                <span>اگر گروه غالب خود در DISC را می‌دانید، می‌توانید آن را هم مشخص کنید تا با نتیجه‌ی انیاگرام مقایسه بشود.</span>
                <br><br>
                <ui-select ng-model="Data.approvedDiscGroup" theme="selectize">
                    <ui-select-match placeholder="گروه‌های DISC">
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="group in Data.discGroups">
                        {{group}}
                    </ui-select-choices>
                </ui-select>
                <br>
                <span>اگر نه، به سایت زیر سر بزنید.</span>
                <br>
                <a href="https://www.truity.com/test/disc-behavior-inventory" target="_blank">آزمون DISC</a>
            </div>
            <div class="col-sm-12 show-result-button">
                <button type="button" class="btn btn-success" ng-click="Func.calculateResults()">
                    نمایش نتایج
                </button>
            </div>
        </div>
    </div>
    <div class="answer-part row" ng-if="Data.mode == 'showAnswer'">
        <div class="col-sm-12 answer-part-header">
            <h2>نتیجه</h2>
        </div>
        <div class="col-md-12 col-sm-12 answer-part-body row">
            <table class="table table-striped result-table">
                <thead class="table-header">
                <tr>
                    <th class="first-cell-header"></th>
                    <th ng-repeat="group in Data.groups">{{group}}</th>
                </tr>
                <tr>
                    <th class="first-cell-header"></th>
                    <th class="result-images" ng-repeat="group in Data.introductionGroups">
                        <img src="/app/assets/images/{{group.value}}.png" alt="تعیین شخصیت"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>آزمون</th>
                    <th ng-repeat="group in Data.resultGroups track by $index">{{group}}</th>
                </tr>
                <tr>
                    <th>انتخابی کاربر</th>
                    <th ng-repeat="group in Data.probableGroups track by $index">
                        <span class="result-marker" ng-show="group">*</span>
                    </th>
                </tr>
                <tr>
                    <th>MBTI</th>
                    <th ng-repeat="group in Data.transferredMbtiResult track by $index">
                        <span class="result-marker" ng-show="group">*</span>
                    </th>
                </tr>
                <tr>
                    <th>DISC</th>
                    <th ng-repeat="group in Data.transferredDiscResult track by $index">
                        <span class="result-marker" ng-show="group">*</span>
                    </th>
                </tr>
                <tr>
                    <th>Big</th>
                    <th ng-repeat="group in Data.transferredBigResult track by $index">
                        <span class="result-marker" ng-show="group">*</span>
                    </th>
                </tr>
                </tbody>
            </table>
            <div class="col-md-4 col-sm-12 col-md-offset-right-4 move-to-groups">
                <span>دوست داری گروه خودتو بهتر بشناسی؟</span>
                <br><br>
                <button class="btn btn-success" ui-sref="home.library.types">آشنایی با گروه‌ها</button>
            </div>
        </div>
    </div>
</div>