.detection-page .pre-explanation {
    text-align: center;
}
.detection-page .pre-explanation .pre-explanation-main {
    font-size: 22px;
    margin: 15px;
}
.detection-page .pre-explanation .pre-explanation-extra {
    color: #505050;
    margin: 15px;
}
.pre-explanation-modal {
    background-color: #d9f2f1;
}
.pre-explanation-modal .explanation-block {
    text-align: right;
}
.pre-explanation-modal .view-mode {
    text-align: center;
    padding: 15px;
}
.pre-explanation-modal .view-mode h5 {
    padding-bottom: 10px;
}
